@import '../common/common';

.root {
    color: $content-primary;
    background-color: $background-base;

    &.light {
        color: $content-light-primary;
        background-color: $background-light-base;
    }

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow-y: scroll;
    overflow-x: hidden;
}

.content {
    user-select: auto;
    cursor: auto;

    // Fill mode
    &.small {
        min-width: 480px;
        width: 100%;
        margin: 0px auto;
    }

    // Column mode
    width: 640px;
    margin: 12px auto;

    &.large {
        width: 60%
    }

    &.xlarge, &.xxlarge {
        // 60% of 1920
        width: 1152px;
    }

}

.content-main {
    padding: 12px;
}