@import '../../common/common';

.menuItem {
    display: inline-block;

    cursor: pointer;

    margin: 0;

    transition: all $duration-medium $ease-out;

    text-align: center;

    height: 100%;

    line-height: normal;

    i {
        width: 1em;
    }

    i, span {
        padding-left: .4em;
        // margin-left: .4em;
        display: inline-block;

        font-size: 1em;
        transition: all $duration-medium $ease-out;
        line-height: 2em;
    }
}

.withLabel {
    i {
        vertical-align: top;
    }
}
