@import '../../common/common';

.menuItem {
    display: block;

    margin: 0;
    text-align: center;
    height: 100%;
    line-height: normal;

    padding-right: .4em;

    .label-container {
        display: inline-block;
    }

    i {
        width: 1em;
    }

    i, span {
        padding-left: .4em;

        font-size: 1em;
        line-height: 2em;
    }
}

.withLabel {
    i {
        vertical-align: top;
    }
}

.menuItem, .menuItem i, .menuItem span {
    transition: all $duration-fast $ease-out;
}
