@import '../../common/common';

$pad: 12px;

.bggThing {
    padding: $pad 0 $pad $pad;
    border-right: solid $pad rgba(0, 0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
}

.bggThing-content {
    padding-left: 6px;
    display: inline-block;
    vertical-align: top;
    width: 100%;

    span {
        display: block;
    }

    .bggThing-title {
        font-size: 24px;
    }

    .bggThing-subtitle {
        font-size: 16px;
    }
}
