@import '../../common/common';

.light {
    .menuItem:hover {
        background-color: $background-light;
        color: $content-light-primary;
    }

    .menuItem:active {
        background-color: $background-light-base;
        color: $content-light-secondary;
    }
}

.menuItem:hover {
    background-color: $background;
    color: $content-primary;
}
.menuItem:active {
    background-color: $background-base;
    color: $content-secondary;
}

.menuItem {
    display: inline-block;

    cursor: pointer;

    margin: 0;
    text-align: center;
    height: 100%;
    line-height: normal;

    i {
        width: 1em;
    }

    i, span {
        padding-left: .4em;

        font-size: 1em;
        line-height: 2em;
    }
}

.withLabel {
    i {
        vertical-align: top;
    }
}

.menuItem, .menuItem i, .menuItem span {
    transition: all $duration-fast $ease-out;
}
