
// Solarized Colors
$base05  : #000000;
$base04  : #00212b;
$base03  : #002b36;
$base02  : #073642;
$base01  : #586e75;
$base00  : #657b83;
$base0   : #839496;
$base1   : #93a1a1;
$base2   : #eee8d5;
$base3   : #fdf6e3;
$base4   : #fcf9f3;
$base5   : #ffffff;

$yellow  : #b58900;
$orange  : #cb4b16;
$red     : #dc322f;
$magenta : #d33682;
$violet  : #6c71c4;
$blue    : #268bd2;
$cyan    : #2aa198;
$green   : #859900;

// Color themes
$background-depressed: $base05;
$background-base: $base04;
$background: $base03;
$background-highlight: $base02;

$content-depressed: $base02;
$content-secondary: $base01;
$content-primary: $base0;
$content-highlight: $base1;

$background-light-depressed: $base5;
$background-light-base: $base4;
$background-light: $base3;
$background-light-highlight: $base2;

$content-light-depressed: $base2;
$content-light-secondary: $base1;
$content-light-primary: $base00;
$content-light-highlight: $base01;

.light {
    .secondary {
        background-color: $background-light-base;
        color: $content-light-secondary;

        .interactive:hover {
            background-color: $background-light-depressed;
            color: $content-light-depressed;
        }
    }

    .primary {
        background-color: $background-light;
        color: $content-light-primary;

        .interactive:hover {
            background-color: $background-light-base;
            color: $content-light-secondary;
        }

        .interactive:active {
            background-color: $background-light-depressed;
            color: $content-light-depressed;
        }
    }

    .highlight {
        background-color: $background-light-highlight;
        color: $content-light-highlight;

        .interactive:hover {
            background-color: $background-light;
            color: $content-light-primary;
        }

        .interactive:active {
            background-color: $background-light-base;
            color: $content-light-secondary;
        }
    }
}

.secondary {
    background-color: $background-base;
    color: $content-secondary;
    
    .interactive:hover {
        background-color: $background-depressed;
        color: $content-depressed;
    }
}

.primary {
    background-color: $background;
    color: $content-primary;

    .interactive:hover {
        background-color: $background-base;
        color: $content-secondary;
    }

    .interactive:active {
        background-color: $background-depressed;
        color: $content-depressed;
    }
}

.highlight {
    background-color: $background-highlight;
    color: $content-highlight;

    .interactive:hover {
        background-color: $background;
        color: $content-primary;
    }

    .interactive:active {
        background-color: $background-base;
        color: $content-secondary;
    }
}
