
// Solarized Colors
$base04  : #00212b;
$base03  : #002b36;
$base02  : #073642;
$base01  : #586e75;
$base00  : #657b83;
$base0   : #839496;
$base1   : #93a1a1;
$base2   : #eee8d5;
$base3   : #fdf6e3;
$base4   : #fcf9f3;
$yellow  : #b58900;
$orange  : #cb4b16;
$red     : #dc322f;
$magenta : #d33682;
$violet  : #6c71c4;
$blue    : #268bd2;
$cyan    : #2aa198;
$green   : #859900;

// Color themes
$background-base: $base04;
$background: $base03;
$background-highlight: $base02;
$content-secondary: $base01;
$content-primary: $base0;
$content-highlight: $base1;

$background-light-base: $base4;
$background-light: $base3;
$background-light-highlight: $base2;
$content-light-secondary: $base1;
$content-light-primary: $base00;
$content-light-highlight: $base01;

// Text
$font-stack: 'Droid Sans';

// Animations
$ease-out: cubic-bezier(.16, .65, .45, .84);
$duration-fast: 0.1s;
$duration-medium: 0.3s;
