@import '../../common/common';

.light .thingView-header {
    .thingView-header-info .thingView-header-tag {
        &.primary {
            background: linear-gradient(90deg, rgba($background-light, 0.0), rgba($background-light, 0.0) 30%, $background-light);
        }
        &.highlight {
            background: linear-gradient(90deg, rgba($background-light-highlight, 0.0), rgba($background-light-highlight, 0.0) 30%, $background-light-highlight);
        }
    }
}

.thingView-header {
    .thingView-header-info .thingView-header-tag {
        &.primary {
            background: linear-gradient(90deg, rgba($background, 0.0), rgba($background, 0.0) 30%, $background);
        }
        &.highlight {
            background: linear-gradient(90deg, rgba($background-highlight, 0.0), rgba($background-highlight, 0.0) 30%, $background-highlight);
        }
    }
}

.thingView-header {
    position: relative;
    white-space: nowrap;
    overflow: hidden;

    .thingView-header-info {
        position: absolute;
        left: 0;

        display: inline-block;
        vertical-align: top;

        width: 100%;

        .thingView-header-tag {
            padding: 6px;
            display: block;
            text-align: right;
        }
    }
}

.thingView-description {
    p {
        margin: 0;
        padding: 12px;
        text-indent: 40px;
        text-align: justify;
    }

}
