@import '../../common/common';

.light {
    .header.isFullWidth {
        box-shadow: 0px 6px $background-light-base;
    }
}

.header.isFullWidth {
    box-shadow: 0px 6px $background-base;
}

.header {
    position: relative;

    line-height: 2em;
    height: 2em;

    font-size: 32px;

    text-align: center;
    align-items: center;

    &.isFullWidth {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;

        animation: headerDrop $duration-fast $ease-out;
    }

    .header-left {
        position: absolute;
        left: 0;
    }

    .menuItem {
        display: inline-block;
    }

    .header-title {
        position: relative;
        left: 10%;

        width: 80%;

        span {
            white-space: nowrap;
        }
        overflow: hidden;
    }
}

@keyframes headerDrop {
    0% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(0, 0%);
    }
}
