@import '../../common/common';

.light {
    .header { 
        background-color: $background-light-highlight;
        color: $content-light-highlight;
    }

    .header .header-left .menuItem:hover {
        background-color: $background-light;
        color: $content-light-primary;
    }
}

.header {
    background-color: $background-highlight;
    color: $content-highlight;

    line-height: 2em;
    height: 2em;
    font-size: 32px; 

    text-align: center;
    align-items: center;

    .header-left {
        position: absolute;

        .menuItem:hover {
            background-color: $background;
            i {
                color: $content-primary;
            }
        }
    }

    .header-title {
        position: absolute;
        transform: translate(-50%, 0%);
    }
}
