@import 'css/theme';

// Text
$font-stack: 'Droid Sans';

// Animations
$ease-out: cubic-bezier(.16, .65, .45, .84);
$ease-in-out: cubic-bezier(.40, .10, .60, .90);
$duration-fast: 0.1s;
$duration-medium: 0.3s;

body {
    user-select: none;
    cursor: default;

    margin: 0;
    font-family: $font-stack;
}

.marquee {
    // padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translate(100%, 0); }
    100% { transform: translate(-100%, 0); }
}

.interactive {
    cursor: pointer;
    user-select: none;
}
